<!DOCTYPE html>
<head>
    <title>Buscaminas </title>
</head>
<body>
    <header>
        
        <div clas="titlo-container">
                <h1 class="titulo">Personalizado</h1>         
        </div>
        
    </header>
    <div class="main">
            <center>   
                <form method="put" action="/personalizado">
                    <h3>Numero de Filas</h3>
                        <input type="text" value=" " name="filas"  >
                    <h3>Numero de Columnas</h3>
                        <input type="text" value=" " name="columnas"  >
                    <br>
                    <input type="submit" value="Jugar Personalizado"  >
                </form>
            </center>
    </div>
</body>

</html>