<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/instrucciones.css"/>
    <title>Document</title>
</head>
<body>
    <div class="cointainer">
        <h1> ¿Cómo jugar? </h1>
        <p> El juego consiste en despejar todas las casillas de una pantalla que no oculten una mina. </p>
        <p> Algunas casillas tienen un número, el cual indica la cantidad de minas que hay en las casillas circundantes.</p>
        <p> Así, si una casilla tiene el número 3, significa que de las ocho casillas que hay alrededor </p>
        <p> (si no es en una esquina o borde) hay 3 con minas y 5 sin minas. </p>
        <p> Si se descubre una casilla sin número indica que ninguna de las casillas vecinas tiene mina y éstas se descubren automáticamente.</p>
        <p> Si se descubre una casilla con una mina se pierde la partida. </p>
        <p> Se puede poner una marca en las casillas que el jugador piensa que hay minas para ayudar a descubrir las que están cerca. </p>

    </div>
    <button class="btn Homepage">
        <a href="/ " class="linkPlay">Ir a la pagina principal</a>
    </button>
</body>
</html>